:root {
  --branding-color: linear-gradient(
    to right,
    #1345e6 0%,
    #ed239f 51%,
    #1345e6 100%
  );
  --heading-font-family:font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:var(--heading-font-family);
}

.hero {
  background: FFFFFF;
  text-align: left;
  padding: 160px 100px;
}

h1 {
  color: #05364d;
  font-weight: 500;
  line-height: 1.5;
}
h2{
  font-size:64px;
}

p{
  font-size:16px;
  line-height: 30px;
}

.btn-branding {
  display: inline-block;
  background: var(--branding-color);
  color: #fff;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
}
.btn-branding:hover{
  color: #fff;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
a:hover {
  color: #fff;
}
.btn-brandind-outline{
  display: inline-block;
  background: var(--branding-color);
  color: #fff;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
}

.btn-brandind-outline:hover{
  color:#fff;
}

.project{
  padding:120px 60px ;
}

@media(max-width:900px){
  h1{
    font-size:44px;
    line-height: 1.5;
  }
  h2{
    font-size:44px;
  }
  .project{
    padding:0;
    text-align: center;

  }
  .hero{
    padding:80px 20px;
  }
}
.mine{
  font-size: 45px;

}